@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');
/* #084F36 */
/* #0D7D56 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: kenia;
    color: aliceblue;
}

body{
    background-color: black;
}

nav img{
    width: 60px;
    margin: 12px 10px;
    border-radius: 200px;
}

.container span{
    font-family: kenia;
    font-size: 40px;
    color: black;
    position: absolute;
    left: 90px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    list-style: none;
    color: black;
    display: inline;
    margin: 10px;
    font-size: 25px;  
    margin-right: 20px;
    cursor: pointer;
}

.container{
    background-color: #0D7D56;      
}

.header-text{
    font-size: 45px;
    margin-top: 100px;
    margin-left: 14%;
}
.header-text h1{
    /* color: #0D7D56; */
    color: white;
}
.header-text h1 span{
    color: #0D7D56;
}
.header-text p{
    /* color: #0D7D56; */
    color: white;
    font-size: 20px;
    word-spacing: 10px;
    letter-spacing: 2px;
}

.header-logo img{
    width: 380px;
    border-radius: 500px;
    position: absolute;
    right: 70px;
    top: 130px;
}

.about-section h1{
    text-align: center;
    margin-top: 150px;
    font-size: 50px;
    color: #0D7D56;
}

.about-section p{
    padding: 50px;
    font-size: 20px;
    line-height: 30px;
    word-spacing: 10px;
}

.skill-heading h1{
    text-align: center;
    color: #0D7D56;
    font-size: 50px;
    margin-bottom: 35px;
}

.skills-col{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 70px;
    margin-bottom: 14px;
    margin-top: 10px;
}
.skill{
    background-color:#084F36;
    width: 270px;
    height: 210px;
    border-radius: 20px;
    transition: 0.5s;
    border: solid 5px black;
}
.skill img{
    position: relative;
    top: 35%;
    left: 40%;
}
.skill h1{
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.skill:hover{
    background-color: #0D7D56;
    transform: translateY(-25px);
    cursor: pointer;
}


/* RESPONSIVE WEBSITE CODE */

@media screen and (max-width: 768px){
    nav img{
        margin-top: 20px;
        margin-left: 12px;
    }

    .container span{
        font-size: 40px;
        margin-top: 10px;
        margin-left: 1%;
    }

    nav ul{
        visibility: hidden;
        display: none;
    }

    .header-text{
        font-size: 30px;
        margin-top: 60px;
        margin-left: 14%;
    }
    .header-logo img{
        width: 80%;
        border-radius: 500px;
        position: absolute;
        right: 10%;
        left: 10%;
        top: 350px;
    }

    .about-section h1{
        text-align: center;
        margin-top: 370px;
        font-size: 50px;
        color: #0D7D56;
    }

    .skills-col{
        margin-bottom: 0px;
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}


