@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');
/* #084F36 */
/* #0D7D56 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: kenia;
    color: #fff;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    background-color: #000;
}

.list{
    background-color: #000;
}
/* MAin Content */
.header{
    background-color: #0D7D56;
}
nav{
    display: flex;
    align-items: center;
}
.header img{
    width: 70px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.header span{
    color: #000;
    margin-left: 20px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
nav ul{
    list-style-type: none;
    display: flex;
    margin-left: 40%;
}
 nav ul li{
    color: #000;
    display: inline;
    list-style: none;
    font-size: 25px;
    margin-right: 15px;
    cursor: pointer;
}
/* Intro */
.intro{
    background-color: #000;
    display: grid;
    grid-template-columns: auto auto;
}
.intro h1{
    font-size: 90px;
    color: #0D7D56;
    margin-top: 15%;
    margin-left: 100px;
}
.intro span{
    color: #fff;
}
.intro img{
    width: 380px;
    border-radius: 50%;
    margin-top: 40px;
    margin-left: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* description */
.description h1{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: #0D7D56;
}
.description p{
    color: #fff;
    font-size: 30px;
    margin: 40px;
}

/* skills */
.skills h1{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: #0D7D56;
    margin-bottom: 20px;
}
.skill-set{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    color: #fff;
    margin: 20px;
}
.skill{
    border-radius: 20px;
    color: #fff;
    width: 200px;
    height: 200px;
    background-color: #0D7D56;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.skill:hover{
    transform: translateY(-20px);
}
/* footer */
.footer{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 40px;
}
.contact{
    margin-left: 30px;
}
.contact form span{
    font-size: 2.5rem;
    margin-left: 20px;
}
.contact form input{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 30px;
    padding: 10px;
    margin: 20px;
    color: #000;
}
.contact button{
    width: 90px;
    height: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #0D7D56;
    color: #fff;
    border: none;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
}
/* footer social media */
.social-media span{
    font-size: 2.5rem;
    margin-left: 20px;
}
.social-media-icons{
    display: grid;
    grid-template-columns: auto auto;

}
.social-media a{
    display: flex;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* copyright */
.copyright{
    background-color: #5f5858;
}
.copyright span{
    color: white;
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 20px;
}

/* Mobile Layout */



/* Mobile layout */
@media only screen and (max-width: 767px){
    .header span{
        font-size: 2rem;
    }
    .intro{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }
    .intro h1{
        margin-left: 25px;
        font-size: 5rem;
    }
    .intro-image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .intro img{
        width: 300px;
        margin-left: 0;
    }
    .header img{
        width: 50px;
    }
    .header ul{
        display: none;
    }

    .skill-set{
        display: grid;
        grid-template-columns: 1fr;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .skill{
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: none;
    }
    .skill:hover{
        transform: none;
    }

    .footer{
        display: grid;
        grid-template-columns: auto;
    }

    .social-media span{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0%;
    }

    .contact form span{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0%;
    }
    .contact{
        margin-left: 0;
    }
}
